<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">



/*<meta name="viewport" content="width=device-width, initial-scale=1" />
*/


@media (max-width: 480px) {
  body{
    /*    background-image: none;*/
    /*    background-color: white;*/
  }
}

@media (max-width: 480px) {
  a {
    font-size: 70%;
    text-align: center;
  }

  #logo{
    text-align: center;
    font-size: 260%;
  }

  #questions {
    margin: auto;
    border: none;
  }

  #q_text {
    font-size: 150%;
    font-style: bold;
    color: navy;
  }

  #choices li {
    float: right;
    color: white;
    margin: 2px;
    width: 290px;
    height: 50px;
    background: #101050;
    border-radius:8px;
    cursor:pointer;
  }

  #choices input {
    display: none;
  }

  #choices li:hover {
    background: navy;
  }

  #show_prediction, #submit {
    padding: 10px;
    text-align: center;
    bottom:0;
    right:0;
    float: right;
  }
}




@media (max-width: 480px){
  img {
    width:50px;
    height:50px;
  }
  .devs {
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: auto;
  }
}


@media (max-width: 480px){
  #footer {
    display : none;
    visibility : hidden;
  }

  #chatbox{
    display: none;
    visibility: hidden;
  }

  #welcome {
    margin-left: 10%;
    color: Navy;
    width: 140%;
    padding: 0px;
    margin: -30px;
  }
}
}