<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">


@media (max-width: 480px) {

}


@media (max-width: 480px) {

  a {
    font-size: 70%;
    text-align: center;
  }

  img {
    width: 73px;
    height: 73px;
  }

  .devs {
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin-left: -55px;
  }

  #Developers {
    font-size: 20px;
  }

  #chatbox, #footer{
    display: none;
    visibility: hidden;
  }

  #welcome, #about {
    margin-left: 10%;
    color: Navy;
    width: 140%;
    padding: 0px;
    margin: -30px;
  }

  #logo{
    text-align: center;
    font-size: 260%;
  }

  #questions {
    margin: auto;
    border: none;
  }

  #q_text {
    font-size: 150%;
    font-style: bold;
    color: navy;
  }

  #choices li {
    float: right;
    color: white;
    margin: 5px;
    width: 290px;
    height: 50px;
    background: #101050;
    border-radius:8px;
    cursor:pointer;
  }

  #choices input {
    display: none;
  }

  /*This is a test feature, to be implemented soon.*/
  #score_display {
  display: none;
  }

  #choices li:hover {
    background: navy;
  }

  #show_prediction, #submit {
    padding: 10px;
    text-align: center;
    bottom:0;
    right:0;
    float: right;
  }
}
